* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: URL("1.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.wrapper {
    width: 390px;
    background-color: transparent;
    border: 2xpx solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    
}

.wrapper h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: 600;
    color: floralwhite;
    text-transform: uppercase;

}

.wrapper .input-box {
    width: 100%;
    margin-bottom: 20px;
}

.input-box input {
    position: relative;
    width: 100%;
    padding: 10px 45px  20px 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .2);
    font-size: 16px;
    outline: none;
    border: none;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 20px;
    transform: translateY(-50%);
}
.input-box  input::placeholder {
    color: black;
    
}

.Remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.Remember-forget a {
    color: #fff;
    text-decoration: none;
}

.Remember-forget a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    padding: 10px;
    background: #fff;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.wrapper .btn:hover{
    background: black;
    color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition:.5s;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #fff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}