<section class="edit-user-section">
    <h1>Edit User</h1>
    <form class="edit-form" action="/edituser" id="edituser-form" method="post">
        <p>Hello {{firstName}}! Update your profile here:</p>
        
        <div class="form-group">
            <label for="newfirstNameInput">First name:</label>
            <input name="newfirstNameInput" id="newfirstNameInput" type="text" placeholder="Enter updated first name">
            <div class="error" id="no-fname" hidden>Please provide first name</div>   
        </div>
        
        <div class="form-group">
            <label for="newlastNameInput">Last name:</label>
            <input name="newlastNameInput" id="newlastNameInput" type="text" placeholder="Enter updated last name">
            <div class="error" id="no-lname" hidden>Please provide new last name</div>
        </div>
        
        <div class="form-group">
            <label for="newpasswordInput">Enter password:</label>
            <input name="newpasswordInput" id="newpasswordInput" type="password" placeholder="Enter updated password">
            <div class="error" id="no-pass" hidden>Please provide a password</div>
        </div>
        
        <div class="form-group">
            <label for="newconfirmPasswordInput">Confirm password:</label>
            <input name="newconfirmPasswordInput" id="newconfirmPasswordInput" type="password" placeholder="Confirm updated password">
            <div class="error" id="no-pass-confirm" hidden>Please confirm password</div>
        </div>
        <div>
            <label for="AboutMe">AboutMe</label>
            <input type="text" id="AboutMe" name="AboutMe">
        </div>
        <button class="submit" type="submit">Update</button>
    </form>
    <a class="go-back" href="/login">Go Back</a>
</section>
