{{!--

login form handlebar template

--}}
<main>
<form name="signin-form" id="signin-form" method="post" action="/login">
     <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </div>
    <button type="submit" name="submitButton" id="submitButton">Login</button>
</form>
  <script src="/public/js/client_side_validation.js"></script>

{{#if message}}
  <p class="log_err">{{message}}</p>
{{/if}}
<a href="/register">Click here to register!</a>
<div class="logerr"></div>
</main>
 