<section class="login-section">
    <h1>Login</h1>
    <form class="login-form" action="/login" id="login-form" method="post">
        <div class="form-group">
            <label for="emailAddressInput">Enter email:</label>
            <input name="emailAddressInput" id="emailAddressInput" type="email" placeholder="Enter your email">
            <div class="error" id="no-email" hidden>Please provide an email</div>
        </div>
        
        <div class="form-group">
            <label for="passwordInput">Enter password:</label>
            <input name="passwordInput" id="passwordInput" type="password" placeholder="Enter your password">
            <div class="error" id="no-pass" hidden>Please provide a password</div>
        </div>
        
        <button class="login-button" type="submit">Login</button>
    </form>
    
    <div class="register-link">
        <a href="/register">Click here to register!</a>
    </div>
</section>
